


button{
  min-height: 40px;
  border-radius: 5%;
  background-color: rgb(101, 20, 177);
  color: aliceblue;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px black;
}
button:hover{
  background-color: rgb(60, 146, 146);
}
.btn_div{
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}